@import './theme';

.footer-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    > button {
        margin-top: 24px;
        font-style: italic;
        font-weight: bold;
        color: $primaryFontColor;
        &:hover{
            cursor: pointer;
        }
    }
    .footer-links{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        > a, > button {
            color: $primaryFontColor;
            margin-left: 24px;
            margin-top: 24px;
            font-weight: 600;
        }
        > button{
            display: flex;
            align-items: center;
            > svg {
                margin-left: 4px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.select-language-title{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

@include lgLaptopView {
    .footer-container{
        margin: 60px;
        justify-content: space-between;
    }
}